body {
  margin: 0px;
  background-color: hsla(207, 68%, 53%,0.7);
}
.project-tile {
  min-width: 180px;
  margin: 50px auto;
  display: block;
  text-align: center;
/*   border: 1px solid; */
  width: 25%;
}
.tile-img {
  min-width: 90%;
  max-width: 90%;
}
.project-tile a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin: 20px auto;
  padding: 5px;
  border-radius: 3em / 3em;
  border: 1px solid;
  width: 50%;
}
.project-tile a:hover {
  background-color: black;
  color: white;
}
.tile-header {
  margin: 20px auto;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
}
#my-h1 {
  text-align: center;
  font-size: 4rem;
  margin: auto;
  padding: 250px 10px 0px;
  letter-spacing: 5px;
  color: #054A83;
  font-family: 'Montserrat', sans-serif;
}
#my-h2 {
  text-align: center;
  font-size: 3rem;
  margin: 10px;
  padding: 10px;
  color: #0663B0;
  font-family: 'Montserrat', sans-serif;
  font-weigth: none;
  font-style: italic;
}
#projects {
  background-color: hsla(207, 68%, 53%, 0.85);
  display: grid;
/*   border: 1px solid; */
  grid-template-columns: repeat(3, minmax(25%, 1fr));
}
#welcome-section {
/*   padding: 200px 0px; */
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-color: #28D5CE;
  width: 100%;
/*   min-height: 300px; */
  min-height: 100vh;
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
}

/* NAV BAR */
#navbar {
  transition: top 0.4s;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  padding: 0px 20px;
/*   border: 1px solid; */
  text-align: center;
  font-size: 1.5rem;
  background-color: #5DA4DF;
}
#navbar li {
  list-style: none;
  display: inline;
/*   text-align: center; */
  margin: 0px 10px;
  padding: 20px;
}
#navbar a {
  text-decoration: none;
  color: #113450º;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
/*  */
@media screen and (min-width: 720px) {
    #welcome-section {
/*     padding: 100px 0px; */
    margin-bottom: 10px;
    height: 100vh;
  }
}
@media screen and (max-width: 720px) {
  #welcome-section {
/*     padding: 100px 0px 25px 0px; */
    margin-bottom: 25px;
    height: 100vh;
  }
  #navbar li {
    font-size: 1rem;
/*     border: 1px solid; */
  }
}
@media screen and (max-width: 600px) {
  #projects {
  grid-template-columns: repeat(1, minmax(100%, 1fr));
  }
  .project-tile {
    width: 90%;
  }
  .tile-img {
  width: 90%;
  }
  #my-h1 {
    font-size: 3.5rem;
  }
  #my-h2 {
    font-size: 2.5rem;
  }
  .tile-header {
    font-size: 3rem;
  }
  #navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #welcome-section {
/*     padding: 100px 0px 25px 0px; */
    margin-bottom: 25px;
    height: 100vh;
  }
}
@media screen and (max-width: 500px) {
  #my-h1 {
    font-size: 2.5rem;
  }
  #my-h2 {
    font-size: 1.8rem;
  }
  .tile-header {
    font-size: 2rem;
  }
    #navbar {
    width: 100%;
    }
  #navbar li {
    display: block;
    font-size: 1.5rem;
  }
  #welcome-section {
/*     margin-top: 275px; */
/*     padding: 175px 0px 10px 0px; */
    margin-bottom: 10px;
    height: 100vh;
  }
}
@media screen and (max-width: 500px) {
    #welcome-section {
/*     margin-top: 275px; */
/*     padding: 135px 0px 10px 0px; */
    margin-bottom: 10px;
    height: 100vh;
  }
}

/* SOCIAL LINKS SECTION */
#social-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
/*   border: 1px solid; */
  margin: 10px 0px;
}
.social-button {
  width: 125px;
  height: 125px;
  text-align: center;
  border-radius: 50%;
  background-color: lightgray;
  border: 1px solid;
}
.social-button a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.social-button a:hover {
  color:white;
  font-weight: bold;
  letter-spacing: 5px;
}
#fcc {
  padding-top: 30px;
}
.item {
  width: 125px;
  height: 125px;
  padding-top: 55px;  
/*   border: 1px solid;   */
}
#social-header {
  margin: 25px;
  padding: 25px;
  text-align: center;
  font-size: 2rem;
}
#social-section {
  background-color: hsla(207, 68%, 53%, 0.85);
}
/*  */

/*  FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border: 1px solid;
  min-height: 50px;
}
.footer-item {
  margin: 10px;
/*   border: 1px solid; */
}
footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}
footer a:hover {
  color: white;
}